.optiker-logo {
  text-align: center;
  padding-top: 33px;
}

ion-toolbar {
  --background: white;
  position: relative;
}
.user {
  color: black;
  font-size: 31px;
  padding-right: 2vh;
}

.schrift {
  padding-top: 9px;

}

h1 {
  font-size: 31px;
  position: absolute;
  left: -10%;
  color: black;
}

img {
  margin-top: 10%;
}

h2{
  color: black;
  font-size: 30px;
  margin-bottom: 0px;
}


.nummer {
  margin-top: 0px;
  color: grey;
  font-size: 14px;
}

.padd {
  margin-left: 7%;
  margin-right: 7%;
}

h3 {
  color: black;
  margin: 0px;
  padding-right: 0px;
}

ion-col {
  padding: 0px;
}

.nummer2 {
  margin-top: 0px;
  color: grey;
  font-size: 14px;
  margin-bottom: 3px;
}

ion-badge {
  margin-right: 7px;
  margin-left: 0px;
  margin-top: 4px;
}

.havana {
  --background: #a05f3a;
}

.new {
  margin-top: 15px;
}


.groß {
  margin-top: 8%;
}

.klein {
  color: black;
}

ion-button {
  --border-radius: 50px;
  font-size: 17px;
  width: 100%;
}

.button-inner {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.info {
  color: black;
}

.size {
  font-weight: bold;
}

ion-card {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 40px;
  --background: #f7f7f7 !important;
}

.anpassung {
  color: black;
  font-size: 25px;
  margin-bottom: 10px;
}

.box {
  margin-top: 15px;
  --background: black;
  color: white;
}

.card {
  color: black;
  margin: 10px;
}

.wenig {
  margin-top: 10px;
  margin-bottom: 5px;
}

.hintergrund {
  background: rgb(254, 219, 0);
  color: black;
  font-size: 20px;
  border-radius: 0px !important;
  padding: 0px;
  text-align: center;
  width: 22px;
  height: 21px;
  margin: 0px;
}

.weniger {
  margin-top: 20px;
  margin-bottom: 5px;
}

h4 {
  margin-bottom: 5px;
  font-size: 15px;
  color: black;
  padding-right: 10px;
}

