<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="optiker-logo">
          <ion-buttons>
            <ion-menu-button >
              <ion-icon class="user" name="person-outline"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="6" class="schrift">
          <h1>Filialen</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <img src="assets/images/Bildschirmfoto%202021-06-02%20um%2014.56.33.png" alt="">
</ion-content>
