<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row >
        <ion-col size="2" class="optiker-logo" >
          <ion-buttons>
            <ion-menu-button >
              <ion-icon class="user" name="person-outline"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="8" class="schrift">
          <h1>Brillen</h1>
        </ion-col>
        <ion-col class="optiker-logo">
          <ion-icon class="user" name="heart-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button mode="ios" (click)="filterShape()">
      <ion-icon name="funnel"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-align-items-center">
        <img src="assets/images/brillefraims.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row>
      <h2>Damenbrillen</h2>
    </ion-row>


    <div>
    <ion-row>
      <ion-col *ngFor="let brille of brillen; let i=index" size="6" class="spezial">
        <ion-card  class="kartenbrille" button=true (click)="brilleClicked(brille)">

          <ion-card-content class="brillenkarte">
            <div class="ion-text-center">
              <img src="{{brille.vue_listing_image}}" width="131" class="brillenbild">
              <p class="ion-align-items-center ion-card-text">{{brille.title|slice:5}}</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    </div>
  </ion-grid>

</ion-content>
