.optiker-logo {
  text-align: center;
  padding-top: 35px;
}

ion-toolbar {
  --background: white;
  position: relative;
}
.user {
  color: black;
  font-size: 31px;
  padding-right: 2vh;
}

.schrift {
  padding-top: 10px;
}

h1 {
  font-size: 31px;
  position: absolute;
  left: 30%;
  color: black;
}

img{

  width: 100%;
}

h2 {
  color: black;
  font-size: 30px;
  padding-left: 1vh;
}



ion-card {
  background: white !important;
  position: relative;
  margin-block: -7px;
}


ion-card-text {
  font-size: 17px;
  color: black;
}

.card-content-ios {
  padding-inline-end: 0px !important;
  padding-inline-start: 0px !important;

}

.spezial {
  padding-bottom: 10px !important;
}

/*ion-fab {
  position: relative;
  left: 83%;
  top: 90%;
}
*/
