<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
    <ion-row >
      <ion-col size="12" class="optiker-logo" >
        <ion-icon  class="user" name="person-outline"></ion-icon>
        <img class="test" src="assets/images/Logos_OptikerBode.svg" alt="" >
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

      <ion-title size="large">Tab 1</ion-title>
  </ion-header>
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <ion-card class="slide">
          <img src="assets/images/brillefraims.png" alt="">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide">
          <img src="assets/images/footer_342x354px_01b.jpg" alt="">
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="slide">
          <img src="assets/images/Bildschirmfoto%202021-05-03%20um%2011.58.45.png" alt="">
        </ion-card>
      </ion-slide>
    </ion-slides>
  <ion-row>
    <ion-col size="6">
      <ion-card class="menu" (click)="brillenPage('/brillen-uebersicht')">
          <ion-icon class="brille" name="glasses-outline"></ion-icon>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="menu">
        <ion-icon class="brille" name="eye-outline"></ion-icon>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card class="menu">
        <ion-icon class="brille" name="heart-outline"></ion-icon>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="menu">
        <ion-icon class="brille" name="map-outline"></ion-icon>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
