<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2" class="optiker-logo">
          <ion-buttons>
            <ion-menu-button >
              <ion-icon class="user" name="person-outline"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="6" class="schrift">
          <h1>Favoriten</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let brille of brillen  | slice:0:2; let i=index; ">
    <ion-row class="spezial">
      <ion-col size="12">
        <ion-card class="kartenbrille" button=true (click)="brilleClicked(brille)">

          <ion-card-content class="brillenkarte">


            <img src="{{brille.vue_listing_image}}" class="brillenbild">
            <h2>{{brille.title}} </h2>
            <p>Seriennummer: {{brille.field_sun_item}}</p>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
