<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row >
        <ion-col size="2" class="optiker-logo" >
          <ion-icon  class="user" name="person-outline"></ion-icon>
        </ion-col>
        <ion-col size="6" class="schrift">
          <h1>Favoriten</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="spezial">
    <ion-col size="12">
      <ion-card class="kartenbrille" button=true (click)="brillenPage('/home')">

        <ion-card-content class="brillenkarte" >


              <img src="assets/images/TomFord.png" class="brillenbild">

            <h2>  Tom Ford</h2>
                <p>Seriennummer: 12345787</p>


        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="12">
      <ion-card class="kartenbrille" button=true (click)="brillenPage('/home')">

        <ion-card-content class="brillenkarte" >


          <img src="assets/images/RayBan2.png" class="brillenbild">

          <h2>Ray Ban</h2>
          <p>Seriennummer: 12345787</p>


        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
