ion-toolbar {
  --background: white;
  position: relative;
}
.user {
  color: black;
  font-size: 31px;
  padding-right: 2vh;
}

.schrift {
  padding-top: 10px;
}

h1 {
  font-size: 31px;
  position: absolute;
  left: 15%;
  color: black;
}
.optiker-logo {
  text-align: center;
  padding-top: 35px;
}

ion-text {
  color: black;
  font-size: 27px;
  font-weight: bold;
}

#einleitung {
  padding-left: 14px !important;
}

.reihe {
  margin-top: 2vh;
  --background: white;
  font-size: 12px;
}
.linie {
  font-size: 18px;
}

.nummer {
  margin-right: 3vh;
  color: rgb(254, 219, 0);
}

.vr {
  color: white;
  padding-left: 10%;
  font-size: 20px;
}

h3 {
  padding-top: 10%;
  color: white;
  padding-left: 5%;
  font-size: 15px;
}

ion-button {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

ion-card-content {
  padding-left: 0;


}
