ion-toolbar {
  --background: white;
  position: relative;
}
.user {
  color: black;
  font-size: 31px;
  padding-right: 2vh;
}

.schrift {
  padding-top: 10px;
  margin-bottom: 57px;
}

h1 {
  font-size: 31px;
  position: absolute;
  left: 15%;
  color: black;
}
.optiker-logo {
  text-align: center;
  padding-top: 33px;
}

ion-text {
  color: black;
  font-size: 27px;
}

#einleitung {
  padding-left: 14px !important;
  padding-top: 20px;
  font-weight: bold;
}

.reihe {
  margin-top: 2vh;
  --background: white;
  font-size: 12px;
}
.linie {
  font-size: 18px;
}

.nummer {
  margin-right: 3vh;
  color: rgb(254, 219, 0);
}

.anpassung {
  color: black;
  font-size: 25px;
  padding-left: 5%;


}

h3 {
  color: black;
  padding-left: 5%;
  font-size: 15px;
}

ion-button {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
 --background: black;
  color: white;
  margin-top: 8%;
  --border-radius: 50px;
}

ion-card {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 40px;
  --background: #d5d5d5 !important;
  border-radius: 0px;
}

ion-grid {
  padding: 0px;
}

ion-col {
  padding: 0px;
}

